.nav-bar {
  flex: 0 0 3vh;
  text-align: center;
  background-color: blue;
}

.landing-body {
  flex: 0 0 94vh;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.footer {
  flex: 0 0 3vh;
  text-align: center;
  background-color: aqua;
}
