* {
  box-sizing: border-box;
}

form > div > span:first-child {
  display: inline-block;
  width: 10ch;
  text-align: right;
  padding: 0 1ch;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  width: 400px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}
.btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 0.4rem 0;
}
