* {
  box-sizing: border-box;
}

form > div > span:first-child {
  display: inline-block;
  width: 15ch;
  text-align: right;
  padding: 0 1ch;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  border-radius: 10px;
  border-color: rgb(97, 60, 33);
  width: 300px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}

.btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 0.2rem 0;
  
}

.btn-kakao-login, .btn-google-login{

  margin: 4px 4px 10px 10px;
  
}

.forget-pw{
  padding: 4px 0px;
  font-size : 14px;
  display: flex;
  align-items: center;
  color:#361a05;
  text-align: left;
}

.sign-up{
  padding: 4px 0px;
  font-size : 14px;
  display: flex;
  text-align: left;
  font-size : 14px;
  color:#361a05;
  text-align: left;

}

.pw-sign-up{
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
}

.error-message {
  /* color: #721c24; */
  /* background-color: rgb(237, 167, 130); */
  /* border-color: #f5c6cb; */
  height: 2em;
  color:rgb(216, 74, 74);
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.span{
  font-size: 1.3rem;

}

.box_btn {

  margin-top:10px;
}